.containerNavbar{
    background: linear-gradient(112.1deg, rgb(13, 15, 20) 11.4%, rgb(20, 23, 36) 70.2%); 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100vw;
    border-bottom: 2px groove whitesmoke;
    margin-bottom: 35px;
}
.navItem{
    font-size: xx-large;
    text-decoration: none;
    color: aliceblue;
}
.navItem:visited{
    font-size: large;
    text-decoration: none;
    color: aliceblue;
}